* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
    /* Times New Roman is, in my opinion, a highly professional looking font so I opted to
    style it this way rather than linking to Google Fonts. */
}
h1, h2, h3, span {
    text-align: center;
    line-height: 2;

}
.personal_logo {
    font-weight: bold;
    font-size: 24px;
    color: #a30048;
}
/* This was used to remove the dots from the links at the top of the page.  */
li {
    list-style-type: none;
}
p {
    line-height: 1.25;
    font-size: 17px;

}
/*Nav bar*/
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    

}
.nav__link--list {
    display: flex;
}
.nav__link--anchor {
    margin: 0 20px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}
.nav__link--anchor-primary {
    background: #a30048;
    padding: 8px 20px;
    border-radius: 10px;
    color: #47ff4e;
}
.nav__link--anchor-primary:hover {
    background-color: #d02b82;
}